*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 3px solid black;
  padding: 40px;
  margin-top: 40px;
}

h1 {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 15px;
}

.wrapper ul li{
  list-style: none;
  margin: 2px 40px;
  font-style : italic;
  display: flex;
}

.book-info {
  flex-grow: 1;
}

.books ul button{
  margin-left: 40%;
}

.books {
  width: 100%;
  border: 3px solid black;
}

#books-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#books-form input {
  margin: 10px;
  padding: 8px;
  width: 90%;
}

#books-form  button {
  padding: 9px;
  width: 90%;
  font-size: 18px;
  font-weight: bold;
  background-color:#000;
  color: #fff;
}

span {
  color: rgb(1, 1, 32);
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  margin: 0 15px;
}

li {
  background: rgb(221, 221, 221);
  }
  li:nth-child(odd){
  background:white
  }
  
